extends layout

block content    
    h1 #{title}

    form(action=`/update` method="post")
        input(type="hidden" name="studentId" value=jsonData._id)

        div.form-group
            input.form-control(type="text" name="FirstName" value=jsonData.FirstName)

        div.form-group
            input.form-control(type="text" name="LastName" value=jsonData.LastName)

        div.form-group
            input.form-control(type="text" name="School" value=jsonData.School)
            
        input.btn.btn-primary(type="submit" value="Update Student")
        |  
        a.btn.btn-primary(href="/") Cancel
